/* general styles */

html {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 10px;
}

body {
    margin: 0 auto;
    max-width: 1400px
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* header styles */

header {
    background-color: #1f2937;
    padding: 32px 160px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    font-size: 2.4rem;
    color: #f9faf8;
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    gap: 16px;
}

header a {
    font-size: 1.8rem;
    color: #e5e7eb;
    text-decoration: none;
    outline: none;
}

header a:hover {
    color: #3882f6
}

header a:focus {
    color: #3882f6
}

header a:active {
    color: #3882f6;
}

/* main content styles */

.intro {
    background-color: #1f2937;
    padding: 96px 160px;

    display: flex;
    gap: 80px;
}

.intro .left {
    flex-basis: 50%;
}

.intro h1 {
    font-size: 4.8rem;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.intro p {
    font-size: 1.8rem;
    color: #e5e7eb;
    margin-block-start: 0px;
    margin-block-end: 16px;
}

.intro button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 6px;
    width: 10em;
}

.intro .right {
    background-color: #e5e7eb;

    flex-basis: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.intro img {
    color: #1f2937;
    font-size: 1.8rem;
}