/* general styles */

html {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 10px;
}

body {
    margin: 0 auto;
    max-width: 1400px
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* header styles */

header {
    background-color: #1f2937;
    padding: 32px 160px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    font-size: 2.4rem;
    font-weight: 900;
    color: #f9faf8;
}

header ul {
    list-style-type: none;
    padding: 0;

    display: flex;
    gap: 16px;
}

header a {
    font-size: 1.8rem;
    color: #e5e7eb;
    text-decoration: none;
    outline: none;
}

header a:hover {
    color: #3882f6
}

header a:focus {
    color: #3882f6
}

header a:active {
    color: #3882f6;
}

/* main content styles */

/* intro */

.intro {
    background-color: #1f2937;
    padding: 96px 160px;

    display: flex;
    gap: 80px;
}

.intro .left {
    flex-basis: 50%;
}

.intro h1 {
    font-size: 4.8rem;
    font-weight: 900;
    color: #f9faf8;
}

.intro p {
    font-size: 1.8rem;
    color: #e5e7eb;
    margin-block-end: 16px;
}

.intro button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 6px;
    width: 10em;
}

.intro .right {
    background-color: #e5e7eb;

    flex-basis: 50%;
}

.intro img {
    background-color: #6d747d;
    width: 100%;
    height: 100%;
    color: #e5e7eb;
    font-size: 1.8rem;
    text-align: center;
    padding: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* info */

.info {
    padding: 48px 160px 96px 160px;
    color: #1f2937;
}

.info h2 {
    font-size: 3.6rem;
    font-weight: 900;
    text-align: center;
    margin: 0 0 32px 0;
}

.info p {
    font-size: 1.8rem;
    margin: 1em 0;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.info-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    flex-basis: 20%;
}

.info-container img {
    border: 3px solid #3882f6;
    border-radius: 1rem;
    width: 100%;
    min-width: 200px;
    height: 200px;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* quote */

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 100;

    padding: 96px 240px;
}

.who-said-it {
    font-size: 2.4rem;
    font-weight: 900;
    font-style: normal;
    text-align: right;
}

/* call to action */

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 96px 160px 96px 160px;

    color: #e5e7eb;
}

.call-to-action .container {
    display: flex;
    justify-content: space-between;
    gap: 32px;

    background-color: #3882f6;
    border-radius: 1em;
    width: 100%;
    height: 100%;
    padding: 72px 128px;
}

.call-to-action h3 {
    font-size: 2.4rem;
    font-weight: 900;
}

.call-to-action p {
    font-size: 1.8rem;
}

.call-to-action button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: bold;
    border: 3px solid #e5e7eb;
    border-radius: 5px;
    padding: 6px;
    width: 10em;
}